name: Deploy

on:
  push:
    branches:
      - main
      - develop

jobs:
  deploy-staging:
    if: github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Amazon Corretto JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "corretto"
          java-version: "21"
      - name: Run Maven Tests
        run: mvn clean test
      - name: Deploy to Staging via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /var/www/project-manager-backend/
            git checkout develop
            git pull origin develop
            cd /opt/docker-setups/maven/
            docker compose up --build -d
            echo "Checking Nginx readiness..."
            RETRY_COUNT=0
            MAX_RETRIES=15
            while [ $RETRY_COUNT -lt $MAX_RETRIES ]; do
              # Check if nginx is running and has a PID file
              if docker exec nginx-nginx-1 [ -f /var/run/nginx.pid ]; then
                echo "✅ Nginx is ready! Sending reload signal..."
                docker exec nginx-nginx-1 nginx -s reload
                break
              else
                RETRY_COUNT=$((RETRY_COUNT+1))
                echo "⏳ Waiting for Nginx process... ($RETRY_COUNT/$MAX_RETRIES)"
                sleep 2
              fi
              if [ $RETRY_COUNT -eq $MAX_RETRIES ]; then
                echo "❌ Error: Nginx failed to start within 30 seconds."
                exit 1
              fi
            done
            echo "Staging deployed at $(date)" >> /var/log/github-actions

  deploy-production:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Amazon Corretto JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "corretto"
          java-version: "21"
      - name: Run Maven Tests
        run: mvn clean test
      - name: Deploy to Production via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /var/www/project-manager-backend/
            git checkout main
            git pull origin main
            cd /opt/docker-setups/maven/
            docker compose up --build -d
            echo "Checking Nginx readiness..."
            RETRY_COUNT=0
            MAX_RETRIES=15
            while [ $RETRY_COUNT -lt $MAX_RETRIES ]; do
              # Check if nginx is running and has a PID file
              if docker exec nginx-nginx-1 [ -f /var/run/nginx.pid ]; then
                echo "✅ Nginx is ready! Sending reload signal..."
                docker exec nginx-nginx-1 nginx -s reload
                break
              else
                RETRY_COUNT=$((RETRY_COUNT+1))
                echo "⏳ Waiting for Nginx process... ($RETRY_COUNT/$MAX_RETRIES)"
                sleep 2
              fi
              if [ $RETRY_COUNT -eq $MAX_RETRIES ]; then
                echo "❌ Error: Nginx failed to start within 30 seconds."
                exit 1
              fi
            done
            echo "Production deployed at $(date)" >> /var/log/github-actions
