name: Deploy

on:
  push:
    branches:
      - main
      - develop

jobs:
  deploy-staging:
    if: github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Amazon Corretto JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "corretto"
          java-version: "21"
          cache: 'maven'

      - name: Set Short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Run Maven Tests
        run: mvn clean test

      - name: Deploy to Staging via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/project-manager-backend/
            git checkout develop
            git pull origin develop
            cd /opt/docker-setups/maven/
            
            export APP_VERSION=${{ steps.vars.outputs.sha_short }}
            
            APP_VERSION=$APP_VERSION docker compose up --build -d --remove-orphans project-manager-staging
            
            sleep 10
            docker exec nginx-nginx-1 nginx -t && docker exec nginx-nginx-1 nginx -s reload
            echo "Staging deployed [Version: $APP_VERSION] at $(date)" >> /var/log/github-actions

  deploy-production:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Amazon Corretto JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "corretto"
          java-version: "21"
          cache: 'maven'


      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          custom_release_rules: |
            major:major:#major,
            minor:minor:#minor,
            minor:minor:feature,
            patch:patch:fix
          # We tell the action to use the PR labels
          default_bump: patch
          fetch_all_tags: true

      - name: Create a GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}
          generate_release_notes: true # Automatically lists your commits
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Maven Tests
        run: mvn clean test

      - name: Deploy to Production via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/project-manager-backend/
            git checkout main
            git pull origin main
            cd /opt/docker-setups/maven/
            
            export APP_VERSION=${{ steps.tag_version.outputs.new_tag }}
            
            APP_VERSION=$APP_VERSION docker compose up --build -d --remove-orphans project-manager-production
            
            sleep 10
            docker exec nginx-nginx-1 nginx -t && docker exec nginx-nginx-1 nginx -s reload
            echo "Production deployed [Version: $APP_VERSION] at $(date)" >> /var/log/github-actions
